<div class="modal fade" [id]="modalID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="prodavnicaModalDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-content border-secondary border-3 rounded-3">
            <div class="modal-header">
                <h5 class="modal-title" id="prodavnicaModalDialogLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
            </div>
                
            <div class="modal-body row">
                <div class="col-12">
                    <div class="mb-2">
                        <label for="inputNaziv">Naziv prodavnice*</label>
                        <input id="inputNaziv" class="form-control border-secondary" type="text" formControlName="naziv" placeholder="Naziv prodavnice" maxlength="50"/>
                        <small class="text-danger" *ngIf="form.controls['naziv'].dirty && form.hasError('required', 'naziv')">
                            *Naziv prodavnice je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputAdresa">Adresa*</label>
                        <input id="inputAdresa" class="form-control border-secondary" type="text" formControlName="adresa" placeholder="Adresa" maxlength="50"/>
                        <small class="text-danger" *ngIf="form.controls['adresa'].dirty && form.hasError('required', 'adresa')">
                            *Adresa je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputGrad">Grad*</label>
                        <input id="inputGrad" class="form-control border-secondary" type="text" formControlName="grad" placeholder="Grad" maxlength="50"/>
                        <small class="text-danger" *ngIf="form.controls['grad'].dirty && form.hasError('required', 'grad')">
                            *Grad je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputOpis">Opis</label>
                        <textarea id="inputOpis" class="form-control border-secondary" rows="3" maxlength="1000" formControlName="opis" placeholder="Opis"></textarea>
                    </div>

                    <div>
                        <label for="inputSlika">Slika</label>
                        <input (change)="onFileSelected($event)" id="inputSlika" class="form-control border-secondary" type="file" accept="image/png, image/jpeg" formControlName="slika" #fileUpload />
                        <div class="file-upload d-flex align-items-center overflow-hidden border border-secondary rounded-2 position-relative">
                            <a type="button" (click)="fileUpload.click()" class="btn btn-primary rounded-0 border-top-0 border-bottom-0 border-start-0"><i class="bi bi-image me-2"></i>Izaberite sliku</a>
                            <span class="flex-fill">{{(filename !== "" && filename !== "images/prodavnice/") ? filename : "Slika nije učitana"}}</span>
                            <a type="button" [hidden]="!filename" (click)="removeFile()" class="btn btn-danger rounded-0 py-5 position-absolute end-0"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onCancel()">Otkaži</button>
                <button type="button" class="btn btn-warning" (click)="resetForm()">Resetuj formu</button>
                <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{title === 'Izmeni prodavnicu' ? 'Izmeni' : 'Dodaj'}}</button>
            </div>
        </form>
    </div>
</div>