<div *ngIf="proizvod$ | async as proizvod" class="container my-3">
    <h1>Proizvod</h1>
    <div *ngIf="isAdmin$ | async" class="mb-3 ">
        <div class="d-flex flex-column flex-sm-row gap-2">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#proizvodModalDialog"><i class="bi bi-pencil me-2"></i>Izmeni proizvod</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialog"><i class="bi bi-trash me-2"></i>Obriši proizvod</button>
        </div>
        <hr>
    </div>
    <div class="main row mb-3">
        <div class="col-12 col-md-6 col-lg-5">
            <img *ngIf="proizvod.slika" class="w-100 border" [src]="image" alt={{proizvod.slika}}/>
            <img *ngIf="!proizvod.slika" class="w-100 border" src="images/image-default.png" />
        </div>
        <div class="col-12 col-md-6 col-lg-7">
            <h2>{{proizvod.naziv}}</h2>
            
            <p class="mb-2"><a class="text-primary" [routerLink]="['/ng/prodavnica', proizvod.prodavnica.id]" routerLinkActive="router-link-active">{{proizvod.prodavnica.naziv}}</a></p>
            
            <h2 class="m-0">Cena: {{proizvod.cena}} RSD</h2>

            <div class="d-none d-lg-block">
                <hr>
                <h3>Opis proizvoda</h3>
                <p class="m-0" *ngIf="proizvod.opis">{{proizvod.opis}}</p>
                <p class="m-0" *ngIf="!proizvod.opis"><i>Nema unetog opisa</i></p>
            </div>
        </div>

        <div class="col-12 d-lg-none">
            <hr class="mt-0">
            <h3>Opis proizvoda</h3>
            <p class="m-0" *ngIf="proizvod.opis">{{proizvod.opis}}</p>
            <p class="m-0" *ngIf="!proizvod.opis"><i>Nema unetog opisa</i></p>
        </div>
    </div>

    <hr>

    <h2 class="mb-3">Specifikacije</h2>

    <div class="table-responsive">
        <div class="specs container border border-primary">
            <div class="head row bg-secondary text-white">
                <div class="col col-5">
                    <h5>Atribut</h5>
                </div>
                <div class="col">
                    <h5>Vrednost</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-5">
                    <h5>Tip proizvoda</h5>
                </div>
                <div class="col">
                    <h5 [ngSwitch]="proizvod.tipProizvoda">
                        <span *ngSwitchCase="'Racunar'">Računar</span>
                        <span *ngSwitchCase="'RacunarskaKomponenta'">Računarska komponenta</span>
                        <span *ngSwitchDefault>Tip proizvoda nije pronađen!</span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-5">
                    <h5>Proizvođac</h5>
                </div>
                <div class="col">
                    <h5>{{proizvod.proizvodjac}}</h5>
                </div>
            </div>
            <div [ngSwitch]="proizvod.tipProizvoda">
                <div *ngSwitchCase="'Racunar'">
                    Računar
                </div>
                <app-komponenta-page *ngSwitchCase="'RacunarskaKomponenta'" [komponenta]="proizvod"></app-komponenta-page>
            </div>
        </div>
    </div>

    <app-proizvod-dialog *ngIf="isAdmin$ | async" [modalID]="'proizvodModalDialog'" [mode]="1"></app-proizvod-dialog>
    <app-confirm-dialog *ngIf="isAdmin$ | async" [modalID]="'confirmModalDialog'" [delete]="'Proizvod'"></app-confirm-dialog>
</div>

<app-not-found *ngIf="!(proizvod$ | async)"></app-not-found>
