:host {
  display: block;
}

.row {
  row-gap: 20px;
}

img {
  aspect-ratio: 1.333;
  object-fit: cover;
}

.menu {
    row-gap: 10px;
    column-gap: 10px;
}

@media screen and (max-width: 767px) {
  img {
    max-width: 100%;
  }
}