<div *ngIf="proizvod$ | async as proizvod" class="container my-3">
    <h1>Proizvod</h1>
    <div *ngIf="isAdmin$ | async" class="mb-3">
        <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#proizvodModalDialog">Izmeni proizvod</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialog">Obriši proizvod</button>
    </div>
    <div class="row mb-3">
        <img class="col-12 col-md-6 col-xl-5" src={{proizvod.slika}} alt={{proizvod.slika}}/>
        <div class="col-12 col-md-6 col-xl-7">
            <h2>{{proizvod.proizvodjac}} {{proizvod.naziv}}</h2>
            <h3 class="m-0">
                Tip proizvoda:
                <span [ngSwitch]="proizvod.tip">
                    <span *ngSwitchCase="1">Računar</span>
                    <span *ngSwitchCase="2">Računarska komponenta</span>
                    <span *ngSwitchDefault>Tip proizvoda nije pronadjen!</span>
                </span>
            </h3>
            <div [ngSwitch]="proizvod.tip">
                <div *ngSwitchCase="1">
                    Računar
                </div>
                <div *ngSwitchCase="2">
                    <app-komponenta-page></app-komponenta-page>
                </div>
            </div>
            <hr>
            <h2 class="m-0">Cena: {{proizvod.cena}}RSD</h2>
        </div>
    </div>

    <h3>Opis proizvoda</h3>
    <p *ngIf="!proizvod.opis"><i>Nema unetog opisa</i></p>
    <p *ngIf="proizvod.opis">{{proizvod.opis}}</p>

    <a class="text-primary" [routerLink]="['/ng/prodavnica', proizvod.prodavnica.id]" routerLinkActive="router-link-active">{{proizvod.prodavnica.naziv}}</a>

    <app-dialog *ngIf="isAdmin$ | async" [text]="'Izmeni proizvod'"></app-dialog>
    <app-dialog *ngIf="isAdmin$ | async" [text]="'Obriši proizvod'"></app-dialog>
</div>

<div *ngIf="!(proizvod$ | async)">
    <app-not-found></app-not-found>
</div>
