<div class="row">
    <div class="col col-5">
        <h5>Tip tastature</h5>
    </div>
    <div class="col">
        <h5>{{tastatura.tipTastature}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Tip tastera</h5>
    </div>
    <div class="col">
        <h5>{{tastatura.tipTastera}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Pozadinsko osvetljenje</h5>
    </div>
    <div class="col">
        <h5>{{tastatura.pozadinskoOsvetljenje ? "DA" : "NE"}}</h5>
    </div>
</div>