<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center shadow-1-strong text-white">
                <h1 class="mb-3">{{appName}}</h1>
                <app-search class="search mx-auto"></app-search>
            </div>
        </div>
    </div>
</header>

<div class="container my-3">
    <h2>Početna stranica</h2>
    <p>{{appName}} je osmišljen da kupovinu računara i računarskih komponenti učini jednostavnom, brzom i sigurnom. Na jednom mestu možete pronaći sve što vam je potrebno – od računarskih komponenti do već sklopljenih desktop računara.</p>
    <p>Pored bogate ponude proizvoda, nudimo vam i pregled svih naših prodavnica širom zemlje. Zahvaljujući prostom i interaktivnom dizajnu, lako ćete pronaći najbližu poslovnicu i nabaviti ono što je Vama potrebno.</p>
    <p>Korisnici ovog sajta mogu ostaviti recenzije i ocene kako za proizvode, tako i za prodavnice, čime pomažete drugim kupcima da donesu pravu odluku.</p>
    <p>Proces naručivanja je brz i jednostavan. Dodajte proizvode u korpu, izaberite način plaćanja i u samo par klikova možete nabaviti šta god i kad god poželite!</p>
    <hr>
    <app-prodavnice [homePage]="true"></app-prodavnice>
</div>