<div class="container my-3">
    <h1>Izaberi {{tipKomponenteTitle}}</h1>
    <div *ngIf="loading$ | async">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!(loading$ | async) && !(error$ | async) && (brojProizvoda$ | async) as brojProizvoda">
        <hr>
        <app-item-list
            [selectMode]="true" 
            [sakrijIzborPrikaza]="true" 
            [prikaziProdavnice]="false"
        ></app-item-list>
    </div>
    <div *ngIf="!(loading$ | async) && (error$ | async) as error">
        {{error}}
    </div>
</div>