<div class="row">
    <div class="col col-5">
        <h5>Tip miša</h5>
    </div>
    <div class="col">
        <h5>{{mis.tipMisa}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Senzor</h5>
    </div>
    <div class="col">
        <h5>{{mis.senzor}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>DPI</h5>
    </div>
    <div class="col">
        <h5>{{mis.DPI}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Promenljiv DPI</h5>
    </div>
    <div class="col">
        <h5>{{mis.promenljivDPI ? "DA" : "NE"}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Pozadinsko osvetljenje</h5>
    </div>
    <div class="col">
        <h5>{{mis.pozadinskoOsvetljenje ? "DA" : "NE"}}</h5>
    </div>
</div>