<div class="modal fade" id="proizvodModalDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="proizvodModalDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [ngClass]="{ 'modal-lg': tipProizvoda === 'RacunarskaKomponenta' }">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-content border-secondary border-3 rounded-3">
            <div class="modal-header">
                <h5 class="modal-title" id="proizvodModalDialogLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                
            <div class="modal-body row">
                <div class="col-12" [ngClass]="{ 'col-lg-6': tipProizvoda === 'RacunarskaKomponenta' }">
                    <div class="mb-2">
                        <label for="inputTip">Tip proizvoda*</label>
                        <select (change)="onChangeTip()" id="inputTip" class="form-select border-secondary" formControlName="tipProizvoda" aria-label="Izaberite tip proizvoda...">
                            <option value="" selected>Izaberite tip proizvoda...</option>
                            <option value="Racunar">Računar</option>
                            <option value="RacunarskaKomponenta">Računarska komponenta</option>
                        </select>
                        <small class="text-danger" *ngIf="form.controls['tipProizvoda'].dirty && form.hasError('required', 'tipProizvoda')">
                            *Tip je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputProizvodjac">Proizvodjač*</label>
                        <input id="inputProizvodjac" class="form-control border-secondary" type="text" formControlName="proizvodjac" placeholder="Proizvodjač" />
                        <small class="text-danger" *ngIf="form.controls['proizvodjac'].dirty && form.hasError('required', 'proizvodjac')">
                            *Proizvodjač je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputNaziv">Naziv proizvoda*</label>
                        <input id="inputNaziv" class="form-control border-secondary" type="text" formControlName="naziv" placeholder="Naziv proizvoda" />
                        <small class="text-danger" *ngIf="form.controls['naziv'].dirty && form.hasError('required', 'naziv')">
                            *Naziv proizvoda je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputCena">Cena (u RSD)*</label>
                        <input id="inputCena" class="form-control border-secondary" type="number" formControlName="cena" min="0" placeholder="Cena" />
                        <small class="text-danger" *ngIf="form.controls['cena'].dirty && form.hasError('required', 'cena')">
                            *Cena je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputOpis">Opis</label>
                        <textarea id="inputOpis" class="form-control border-secondary" rows="3" maxlength="1000" formControlName="opis" placeholder="Opis"></textarea>
                    </div>

                    <div>
                        <label for="inputSlika">Slika</label>
                        <input (change)="onFileSelected($event)" id="inputSlika" class="form-control border-secondary" type="file" accept="image/png, image/jpeg" formControlName="slika" #fileUpload />
                        <div class="file-upload d-flex align-items-center overflow-hidden border border-secondary rounded-2 position-relative">
                            <a type="button" (click)="fileUpload.click()" class="btn btn-primary rounded-0"><i class="bi bi-image me-2"></i>Izaberite sliku</a>
                            <span class="flex-fill">{{(filename !== "" && filename !== "images/prodavnice/") ? filename : "Slika nije učitana"}}</span>
                            <a type="button" [hidden]="!filename" (click)="removeFile()" class="btn btn-danger rounded-0 py-5 position-absolute end-0"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>

                <div [hidden]="tipProizvoda !== 'RacunarskaKomponenta'" class="col-12 col-lg-6">
                    <div class="mb-2">
                        <label for="inputType">Tip računarske komponente</label>
                        <select (change)="onChangeTipKomponente()" id="inputType" class="form-select border-secondary" formControlName="type" aria-label="Izaberite tip računarske komponente...">
                            <option value="" selected>Izaberite tip računarske komponente...</option>
                            <option value="CPU">Procesor</option>
                            <option value="GPU">Grafička karta</option>
                            <option value="RAM">RAM memorija</option>
                        </select>
                        <!-- <small class="text-danger" *ngIf="form.controls['type'].dirty && form.hasError('required', 'type')">
                            *Tip je obavezno polje
                        </small> -->
                    </div>

                    <div [hidden]="type !== 'CPU'" class="mb-2">
                        <div class="mb-2">
                            <label for="inputCPUSocket">Socket</label>
                            <input id="inputCPUSocket" class="form-control border-secondary" type="text" formControlName="cpuSocket" placeholder="Socket" />
                        </div>

                        <div class="mb-2">
                            <label for="inputCPUFrekvencija">Frekvencija (u GHz)</label>
                            <input id="inputCPUFrekvencija" class="form-control border-secondary" type="number" formControlName="cpuFrekvencija" min="0" max="10" step="0.1" placeholder="Frekvencija (u GHz)" />
                        </div>

                        <div class="mb-2">
                            <label for="inputCPUBrojJezgara">Broj jezgara</label>
                            <input id="inputCPUBrojJezgara" class="form-control border-secondary" type="number" formControlName="cpuBrojJezgara" min="0" placeholder="Broj jezgara" />
                        </div>

                        <div class="mb-2">
                            <label for="inputCPUBrojNiti">Broj niti</label>
                            <input id="inputCPUBrojNiti" class="form-control border-secondary" type="number" formControlName="cpuBrojNiti" min="0" placeholder="Broj niti" />
                        </div>
                    </div>
                    
                    <div [hidden]="type !== 'GPU'" class="mb-2">
                        <div class="mb-2">
                            <label for="inputGPUFrekvencija">Frekvencija (u MHz)</label>
                            <input id="inputGPUFrekvencija" class="form-control border-secondary" type="number" formControlName="gpuFrekvencija" min="0" placeholder="Frekvencija (u MHz)" />
                        </div>
    
                        <div class="mb-2">
                            <label for="inputGPUVRAM">VRAM (u GB)</label>
                            <input id="inputGPUVRAM" class="form-control border-secondary" type="number" formControlName="gpuVRAM" min="0" placeholder="VRAM" />
                        </div>
                    </div>

                    <div [hidden]="type !== 'RAM'" class="mb-2">
                        <div class="mb-2">
                            <label for="inputRAMTipMemorije">Tip memorije</label>
                            <input id="inputRAMTipMemorije" class="form-control border-secondary" type="text" formControlName="ramTipMemorije"  placeholder="Tip memorije" />
                        </div>

                        <div class="mb-2">
                            <label for="inputRAMBrojModula">Broj RAM modula</label>
                            <input id="inputRAMBrojModula" class="form-control border-secondary" type="number" formControlName="ramBrojModula" min="0" placeholder="Broj RAM modula" />
                        </div>

                        <div class="mb-2">
                            <label for="inputRAMVelicina">Veličina (u GB)</label>
                            <input id="inputRAMVelicina" class="form-control border-secondary" type="number" formControlName="ramVelicina" min="0" placeholder="Veličina" />
                        </div>

                        <div class="mb-2">
                            <label for="inputRAMFrekvencija">Frekvencija (u MHz)</label>
                            <input id="inputRAMFrekvencija" class="form-control border-secondary" type="number" formControlName="ramFrekvencija" min="0" placeholder="Frekvencija (u MHz)" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Otkaži</button>
                <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{title === 'Izmeni proizvod' ? 'Izmeni' : 'Dodaj'}}</button>
            </div>
        </form>
    </div>
</div>