<div class="row">
    <div class="col col-5">
        <h5>Tip matične ploče</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.tipMaticnePloce}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Socket</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.socket}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj RAM slotova</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.brojRAMSlotova}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj USB 2.0 portova</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.brojUSB20Portova}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj USB 3.0 portova</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.brojUSB30Portova}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj USB 3.1 portova</h5>
    </div>
    <div class="col">
        <h5>{{maticnaPloca.brojUSB31Portova}}</h5>
    </div>
</div>