<div class="container my-3">
    <h1>O nama</h1>
    <p>{{appName}} je web aplikacija koja predstavlja svet visokokvalitetne računarske opreme i tehnoloških inovacija. Sa strastvenim timom entuzijasta, ovo je Vaš pouzdan partner u svim tehnološkim potrebama.</p>
    <hr>
    <div class="d-flex flex-column row-gap-md-3">
        <div class="row d-flex flex-column flex-md-row align-items-center row-gap-3">
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
                <img class="w-100" src="images/about/1.jpg" />
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
                <p class="m-0">Naša misija je jednostavna: omogućiti vam pristup najnovijim, najpouzdanijim i najefikasnijim računarskim komponentama i uređajima koji će unaprediti vašu produktivnost, kreativnost i zabavu. Bez obzira da li ste entuzijasta koji gradi sopstveni sistem, profesionalac u potrazi za pouzdanim alatima ili poslovni lider koji želi optimizovati IT infrastrukturu, tu smo da Vam pružimo sve što vam je potrebno.</p>
            </div>
        </div>
        <hr class="d-md-none">
        <div class="row d-flex flex-column flex-md-row-reverse align-items-center row-gap-3">
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
                <img class="w-100" src="images/about/2.png" />
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
                <p class="m-0 text-md-end">Naš asortiman proizvoda obuhvata sve, od računasrskih komponenti i periferija do gotovih i već sklopljenih računara sa pažljivo izabranim računrskim komponentama koji će maksimizovati Vašu produktivnost.</p>
            </div>
        </div>
        <hr class="d-md-none">
        <div class="row d-flex flex-column flex-md-row align-items-center row-gap-3">
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
                <img class="w-100" src="images/about/3.webp" />
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
                <p class="m-0">Ono što nas izdvaja je naša posvećenost kvalitetu i korisničkoj podršci. Svaki proizvod u našem asortimanu pažljivo je odabran i testiran kako bi se osiguralo da ispunjava najviše standarde performansi i pouzdanosti. Naš tim stručnjaka stoji Vam na raspolaganju kako bi Vam pružio stručne savete, pomoć pri odabiru pravog proizvoda i podršku tokom celog procesa, od kupovine do postavljanja i održavanja.</p>
            </div>
        </div>
        <hr class="d-md-none">
        <div class="row d-flex flex-column flex-md-row-reverse align-items-center row-gap-3">
            <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
                <img class="w-100" src="images/about/4.jpg" />
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
                <p class="m-0 text-md-end">Pridružite se hiljadama zadovoljnih korisnika i, bez obzira na Vaše potrebe, naša zajednica uvek je tu da Vam pomogne kako biste ostvariti vaše ciljeve. Posetite nas već danas i prepustite se svetu beskonačnih mogućnosti koje tehnologija može ponuditi!</p>
            </div>
        </div>
    </div>
    <hr>
    <h2>Osnovne informacije</h2>
    <div class="row row-gap-2">
        <div class="col-12 col-md-4 col-xl-4">
            <h4 class="m-0"><i class="bi bi-clock me-2"></i>Radno vreme</h4>
            <p class="m-0">Radnim danima: 00:00 – 24:00</p>
            <p class="m-0">Subotom: 00:00 – 24:00</p>
            <p class="m-0">Nedeljom: 00:00 – 24:00</p>
        </div>
        <div class="col-12 col-md-4 col-xl-4">
            <h4 class="m-0"><i class="bi bi-geo-alt me-2"></i>Lokacija</h4>
            <p class="m-0">Bulevar Nemanjića 11b, 18000 Niš</p>
        </div>
        <div class="col-12 col-md-4">
            <h4 class="m-0"><i class="bi bi-telephone me-2"></i>Kontakt</h4>
            <p class="m-0">Email: support&#64;projekatrwa.com</p>
            <p class="m-0">Telefon: +381691234567</p>
        </div>
    </div>
</div>