<div class="container my-3">
    <h1>Pretraga</h1>
    <app-search class="mb-3" [query]="query"></app-search>
    <div class="row row-gap-3">
        <div *ngIf="brojProdavnica !== 0 || brojProizvoda !== 0" class="col-12 d-none d-md-block">
            <hr class="m-0">
        </div>
        <app-filter *ngIf="query && ((brojProdavnica !== 0 || brojProizvoda !== 0) && !((brojProdavnica <= 1 && brojProizvoda === 0) || (brojProdavnica === 0 && brojProizvoda <= 1)))" class="filter-menu col-12 col-md-3 col-xl-2 px-0" 
            [brojProdavnica]="brojProdavnica" 
            [brojProizvoda]="brojProizvoda" 
            [cenaRange]="cenaRange" 
            (prikaziProdavniceOutput)="getPrikaziProdavnice($event)" 
            (prikaziProizvodeOutput)="getPrikaziProizvode($event)" 
            (selectedNaziviProdavnicaOutput)="getSelectedNaziviProdavnica($event)" 
            (selectedCenaRangeOutput)="getSelectedCenaRange($event)" 
            (selectedTipoviProizvodaOutput)="getSelectedTipoviProizvoda($event)" 
            (selectedTypesOutput)="getSelectedTypes($event)" 
            (selectedProizvodjaciOutput)="getSelectedProizvodjaci($event)"
        ></app-filter>
        <div class="col">
            <app-prodavnice *ngIf="query" [hidden]="brojProdavnica === 0 || !prikaziProdavnice" 
                [selectedNaziviProdavnica]="selectedNaziviProdavnica" 
                (brojProdavnica)="getBrojProdavnica($event)"
            ></app-prodavnice>

            <hr *ngIf="query && brojProdavnica !== 0 && brojProizvoda !== 0 && prikaziProdavnice && prikaziProizvode">

            <app-proizvodi *ngIf="query" [hidden]="brojProizvoda === 0 || !prikaziProizvode" 
                [selectedCenaRange]="selectedCenaRange" 
                [selectedTipoviProizvoda]="selectedTipoviProizvoda" 
                [selectedTypes]="selectedTypes" 
                [selectedProizvodjaci]="selectedProizvodjaci" 
                (brojProizvoda)="getBrojProizvoda($event)" 
                (cenaRange)="getCenaRange($event)"
            ></app-proizvodi>
            
            <p *ngIf="query && brojProdavnica === 0 && brojProizvoda === 0">Nije pronađen nijedan rezultat!</p>
            <p *ngIf="!query">Molimo da popunite polje za pretragu!</p>
        </div>
    </div>
</div>
