<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="podaci p-2 text-center shadow-1-strong text-white">
                    <h1>Angular</h1>
                    <!-- <app-search></app-search> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container my-3">
    <h1>Prodavnice</h1>
    <div *ngIf="isAdmin$ | async" class="mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDialog">Dodaj prodavnicu</button>
    </div>
    <app-prodavnice></app-prodavnice>
</div>

<app-dialog *ngIf="isAdmin$ | async" [text]="'Dodaj prodavnicu'"></app-dialog>