<div [formGroup]="formGroup">
    <div class="mb-2">
        <label for="inputSnaga">Snaga (u W)*</label>
        <input id="inputSnaga" class="form-control border-secondary" type="number" formControlName="snaga" min="0" placeholder="Snaga (u W)" />
        <small class="text-danger" *ngIf="formGroup.controls['snaga'].dirty && formGroup.hasError('required', 'snaga')">
            *Snaga je obavezno polje
        </small>
    </div>

    <div>
        <label for="inputModularno">Modularno</label>
        <div>
            <input id="inputModularno" class="btn-check" type="checkbox" formControlName="modularno" placeholder="Modularno" />
            <label for="inputModularno" class="btn btn-outline-primary">{{formGroup.controls['modularno'].value ? 'DA' : 'NE'}}</label>
        </div>
    </div>
</div>
