<div class="container my-3">
    <h1>Plaćanje</h1>
    <div *ngIf="cartItemCount$ | async" class="row row-gap-3">
        <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-9">
            <h3>Pregled korpe</h3>
            <app-cart [checkout]="true"></app-cart>
            <p class="text-warning mt-2 mb-0"><b>NAPOMENA: Sve cene su prikazane sa uračunatim PDV-om.</b></p>
        </div>
        <div class="d-md-none">
            <hr class="m-0">
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 checkout-menu">
            <h4>Adresa dostave</h4>
            <div class="row mx-0">
                <div class="col-12 form-check">
                    <input (change)="onSelectAdresa(1)" class="form-check-input" type="radio" name="inputRadioAdresa" id="radioKorisnickaAdresa" value="1" [checked]="user$ | async" [disabled]="!(user$ | async)">
                    <label class="form-check-label" for="radioKorisnickaAdresa">Dostava na adresi Vašeg prebivališta</label>
                </div>
                <div class="col-12 form-check">
                    <input (change)="onSelectAdresa(2)" class="form-check-input" type="radio" name="inputRadioAdresa" id="radioNovaAdresa" value="2" [checked]="!(user$ | async)">
                    <label class="form-check-label" for="radioNovaAdresa">Dostava na novoj adresi</label>
                </div>
            </div>
            <form [formGroup]="addressForm">
                <div class="mb-2">
                    <label for="inputAddress">Adresa*</label>
                    <input id="inputAddress" class="form-control border border-secondary" type="text" formControlName="address" placeholder="Adresa" maxlength="50"/>
                    <small class="text-danger" *ngIf="addressForm.controls['address'].dirty && addressForm.hasError('required', 'address')">
                        *Adresa je obavezno polje
                    </small>
                </div>
                <div class="mb-2">
                    <label for="inputCity">Grad*</label>
                    <input id="inputCity" class="form-control border border-secondary" type="text" formControlName="city" placeholder="Grad" maxlength="50"/>
                    <small class="text-danger" *ngIf="addressForm.controls['city'].dirty && addressForm.hasError('required', 'city')">
                        *Grad je obavezno polje
                    </small>
                </div>
            </form>
            <hr>
            <h4>Način plaćanja</h4>
            <div class="row mx-0">
                <div class="col-auto form-check">
                    <input (change)="onSelectNacinPlacanja(1)" class="form-check-input" type="radio" name="inputRadioNacinPlacanja" id="radioKartica" value="1" checked>
                    <label class="form-check-label" for="radioKartica">Karticom</label>
                </div>
                <div class="col-auto form-check">
                    <input (change)="onSelectNacinPlacanja(2)" class="form-check-input" type="radio" name="inputRadioNacinPlacanja" id="radioPouzece" value="2">
                    <label class="form-check-label" for="radioPouzece">Pouzećem</label>
                </div>
            </div>
            <form *ngIf="nacinPlacanja === 1" class="mb-1" [formGroup]="creditCardForm">
                <div class="mb-2">
                    <label for="inputCreditCardNumber">Broj kreditne kartice*</label>
                    <input id="inputCreditCardNumber" class="form-control border border-secondary" type="text" formControlName="ccNumber" placeholder="XXXXXXXXXXXXXXXX" minlength="16" maxlength="16"/>
                    <small class="text-danger" *ngIf="creditCardForm.controls['ccNumber'].dirty && creditCardForm.hasError('required', 'ccNumber')">
                        *Broj kreditne kartice je obavezno polje
                    </small>
                    <small class="text-danger" *ngIf="creditCardForm.controls['ccNumber'].dirty && !isCCNumberValid(creditCardForm.controls['ccNumber'].value)">
                        *Neispravan broj kreditne kartice
                    </small>
                </div>
                <div class="row">
                    <div class="col-3 mb-2">
                        <label for="inputCreditCardExpMonth">MM*</label>
                        <input id="inputCreditCardExpMonth" class="form-control border border-secondary" type="text" formControlName="ccExpMonth" placeholder="MM" minlength="2" maxlength="2"/>
                        <small class="text-danger" *ngIf="creditCardForm.controls['ccExpMonth'].dirty && creditCardForm.hasError('required', 'ccExpMonth')">
                            *Mesec isteka je obavezno polje
                        </small>
                    </div>
                    <div class="col-3 mb-2">
                        <label for="inputCreditCardExpYear">YY*</label>
                        <input id="inputCreditCardExpYear" class="form-control border border-secondary" type="text" formControlName="ccExpYear" placeholder="YY" minlength="2" maxlength="2"/>
                        <small class="text-danger" *ngIf="creditCardForm.controls['ccExpYear'].dirty && creditCardForm.hasError('required', 'ccExpYear')">
                            *Godina isteka je obavezno polje
                        </small>
                    </div>
                    <div class="col-6 mb-2">
                        <label for="inputCreditCardCVC">CVC*</label>
                        <input id="inputCreditCardCVC" class="form-control border border-secondary" type="text" formControlName="ccCVC" placeholder="CVC" minlength="3" maxlength="4"/>
                        <small class="text-danger" *ngIf="creditCardForm.controls['ccCVC'].dirty && creditCardForm.hasError('required', 'ccCVC')">
                            *CVC je obavezno polje
                        </small>
                    </div>
                </div>
            </form>
            <p *ngIf="nacinPlacanja === 2" class="mb-1">Plaćanje prilikom dostave Vaše narudžbine</p>
            <div class="d-flex flex-column align-items-md-center">
                <button (click)="createOrder()" [disabled]="(adresaDostave === 2 && !addressForm.valid) || (nacinPlacanja === 1 && !(creditCardForm.valid && isCCNumberValid(creditCardForm.controls['ccNumber'].value)))" class="btn btn-primary"><i class="bi bi-cart me-2"></i>Postavi narudžbinu</button>
            </div>
        </div>
    </div>
    <p class="m-0" *ngIf="!(cartItemCount$ | async)">Greška: Korpa je prazna!</p>
</div>