:host {
  display: block;
}

.info-list, .info-list .col {
  padding: 0;
}

.row {
  margin: 0 0.75rem;
  cursor: pointer;
  transition: 0.1s;
}

.row:hover {
  background-color: #DDDDDD;
}

img {
  aspect-ratio: 1.333;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .info-list h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 240px) {
  .info-grid h5 {
    font-size: 1rem;
  }
}