<div class="row border border-primary rounded-3 overflow-hidden" *ngIf="displayMode === 1" [routerLink]="['/ng/proizvod', proizvod.id]">
    <div class="image col-3 col-md-2 col-xl-1 p-0">
        <img *ngIf="proizvod.slika" class="w-100" [src]="'http://localhost:3000/' + proizvod.slika" alt={{proizvod.slika}} />
        <img *ngIf="!proizvod.slika" class="w-100" src="images/image-default.png"/>
    </div>
    <div class="info-list col align-content-center px-3 py-2 border-start">
        <div class="row m-0">
            <div class="col col-12 col-md-8 col-lg-9 align-content-center">
                <h5 class="m-0">{{proizvod.naziv}}</h5>
            </div>
            <div class="col col-12 col-md-4 col-lg-3 align-content-center">
                <h5 class="m-0 text-md-end">{{proizvod.cena}} RSD</h5>
            </div>
        </div>
    </div>
</div>
<div class="row row-gap-2 border border-primary rounded-3 overflow-hidden" *ngIf="displayMode === 2" [routerLink]="['/ng/proizvod', proizvod.id]">
    <div class="col-12 p-0">
        <img *ngIf="proizvod.slika" class="w-100 border-bottom" [src]="'http://localhost:3000/' + proizvod.slika" alt={{proizvod.slika}}/>
        <img *ngIf="!proizvod.slika" class="w-100 border-bottom" src="images/image-default.png"/>
    </div>
    <div class="info-grid col-12 px-2 pb-2">
        <h5 class="m-0">{{proizvod.naziv}}</h5>
        <h5 class="m-0">{{proizvod.cena}} RSD</h5>
    </div>
</div>