:host {
  display: block;
}

a {
  text-decoration: none;
}

.row {
  row-gap: 1rem;
}

img {
  aspect-ratio: 1.333;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .info-list h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 240px) {
  .info-grid h5 {
    font-size: 1rem;
  }
}