<div *ngIf="racunar">
    <div class="row">
        <div class="col col-5">
            <h5>Matična ploča</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.maticnaPloca"><i>Matična ploča nije dodata</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'MaticnaPloca' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.maticnaPloca"><i class="bi bi-plus-lg me-2"></i>Dodaj matičnu ploču</button>
            <h5 *ngIf="racunar.maticnaPloca"><a [routerLink]="['/proizvod', racunar.maticnaPloca.id]" (click)="navigate(racunar.maticnaPloca.id)" class="text-primary">{{racunar.maticnaPloca.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'MaticnaPloca' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.maticnaPloca"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('MaticnaPloca')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.maticnaPloca"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>Procesor</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.cpu"><i>Procesor nije dodat</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'CPU' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.cpu"><i class="bi bi-plus-lg me-2"></i>Dodaj procesor</button>
            <h5 *ngIf="racunar.cpu"><a [routerLink]="['/proizvod', racunar.cpu.id]" (click)="navigate(racunar.cpu.id)" class="text-primary">{{racunar.cpu.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'CPU' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.cpu"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('CPU')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.cpu"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>RAM memorija</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.ram"><i>RAM memorija nije dodata</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'RAM' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.ram"><i class="bi bi-plus-lg me-2"></i>Dodaj RAM memoriju</button>
            <h5 *ngIf="racunar.ram"><a [routerLink]="['/proizvod', racunar.ram.id]" (click)="navigate(racunar.ram.id)" class="text-primary">{{racunar.ram.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'RAM' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.ram"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('RAM')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.ram"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>Skladišna memorija</h5>
        </div>
        <div class="col col-7">
            <div [ngClass]="{ 'd-flex flex-column row-gap-1': isAdmin$ | async }">
                <h5 *ngIf="!(isAdmin$ | async) && !racunar.skladiste.length"><i>Skladišna memorija nije dodata</i></h5>
                <div class="d-flex align-items-center" *ngFor="let item of racunar.skladiste; let i = index" [ngClass]="{ 'column-gap-1': isAdmin$ | async }">
                    <h5><a [routerLink]="['/proizvod', item.id]" (click)="navigate(item.id)" class="text-primary">{{item.naziv}}</a></h5>
                    <div *ngIf="isAdmin$ | async" class="flex-grow-1"></div>
                    <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Skladiste', editItemID: item.id }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.skladiste.length"><i class="bi bi-pencil"></i></button>
                    <button (click)="deleteComponent('Skladiste', item)" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.skladiste.length"><i class="bi bi-trash"></i></button>
                </div>
            </div>
            <div *ngIf="isAdmin$ | async" class="d-flex column-gap-1" [ngClass]="{ 'mt-1': racunar.skladiste.length > 0 }">
                <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Skladiste' }" class="btn btn-sm btn-primary"><i class="bi bi-plus-lg me-2"></i>Dodaj skladišnu memoriju</button>
                <button (click)="deleteComponent('Skladiste')" class="btn btn-sm btn-danger" *ngIf="racunar.skladiste.length"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>Grafička karta</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.gpu"><i>Grafička karta nije dodata</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'GPU' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.gpu"><i class="bi bi-plus-lg me-2"></i>Dodaj grafičku kartu</button>
            <h5 *ngIf="racunar.gpu"><a [routerLink]="['/proizvod', racunar.gpu.id]" (click)="navigate(racunar.gpu.id)" class="text-primary">{{racunar.gpu.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'GPU' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.gpu"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('GPU')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.gpu"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>Napajanje</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.napajanje"><i>Napajanje nije dodato</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Napajanje' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.napajanje"><i class="bi bi-plus-lg me-2"></i>Dodaj napajanje</button>
            <h5 *ngIf="racunar.napajanje"><a [routerLink]="['/proizvod', racunar.napajanje.id]" (click)="navigate(racunar.napajanje.id)" class="text-primary">{{racunar.napajanje.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Napajanje' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.napajanje"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('Napajanje')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.napajanje"><i class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-5">
            <h5>Kućište</h5>
        </div>
        <div class="col col-7 d-flex column-gap-1 align-items-center">
            <h5 *ngIf="!(isAdmin$ | async) && !racunar.kuciste"><i>Kućište nije dodato</i></h5>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Kuciste' }" class="btn btn-sm btn-primary" *ngIf="(isAdmin$ | async) && !racunar.kuciste"><i class="bi bi-plus-lg me-2"></i>Dodaj kućište</button>
            <h5 *ngIf="racunar.kuciste"><a [routerLink]="['/proizvod', racunar.kuciste.id]" (click)="navigate(racunar.kuciste.id)" class="text-primary">{{racunar.kuciste.naziv}}</a></h5>
            <div class="flex-grow-1"></div>
            <button [routerLink]="['/select', racunar.id]" [queryParams]="{ type: 'Kuciste' }" class="btn btn-sm btn-warning" *ngIf="(isAdmin$ | async) && racunar.kuciste"><i class="bi bi-pencil"></i></button>
            <button (click)="deleteComponent('Kuciste')" class="btn btn-sm btn-danger" *ngIf="(isAdmin$ | async) && racunar.kuciste"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</div>