<div class="row">
    <div class="col col-5">
        <h5>Tip štampača</h5>
    </div>
    <div class="col">
        <h5>{{stampac.tipStampaca}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Boja štampe</h5>
    </div>
    <div class="col">
        <h5>{{stampac.bojaStampe}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Format</h5>
    </div>
    <div class="col">
        <h5>{{stampac.format}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Rezolucija štampe</h5>
    </div>
    <div class="col">
        <h5>{{stampac.rezolucija}} DPI</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Obostrano štampanje</h5>
    </div>
    <div class="col">
        <h5>{{stampac.obostranoStampanje ? "DA" : "NE"}}</h5>
    </div>
</div>