<div [formGroup]="formGroup">
    <div class="mb-2">
        <label for="inputTipZvucnika">Tip zvučnika*</label>
        <input id="inputTipZvucnika" class="form-control border-secondary" type="text" formControlName="tipZvucnika" placeholder="Tip zvučnika" maxlength="20"/>
        <small class="text-danger" *ngIf="formGroup.controls['tipZvucnika'].dirty && formGroup.hasError('required', 'tipZvucnika')">
            *Tip zvučnika je obavezno polje
        </small>
    </div>
    
    <div class="row row-gap-2">
        <div class="col-12 col-sm-6">
            <label for="inputFrekvencijaMin">Frekvencija (min)*</label>
            <input id="inputFrekvencijaMin" class="form-control border-secondary" type="number" formControlName="frekvencijaMin" min="0" max="2000" placeholder="Donji opseg" />
            <small class="text-danger" *ngIf="formGroup.controls['frekvencijaMin'].dirty && formGroup.hasError('required', 'frekvencijaMin')">
                *Donji opseg je obavezno polje
            </small>
        </div>
        <div class="col-12 col-sm-6">
            <label for="inputFrekvencijaMax">Frekvencija (max)*</label>
            <input id="inputFrekvencijaMax" class="form-control border-secondary" type="number" formControlName="frekvencijaMax" min="10000" max="40000" placeholder="Gornji opseg" />
            <small class="text-danger" *ngIf="formGroup.controls['frekvencijaMax'].dirty && formGroup.hasError('required', 'frekvencijaMax')">
                *Gornji opseg je obavezno polje
            </small>
        </div>
    </div>
</div>