@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.navbar {
    box-shadow: 0 0 0.75rem 0 black;
}

.dropdown-menu { 
    background-color: $green-500;
}

.dropdown-menu a:hover { 
    background-color: mix(black, $green-500, 25%);
    cursor: pointer;
}

.bottom-right {
    top: calc(100% - 0.125rem);
    left: calc(100% - 0.125rem);
}

.navigacija {
    min-width: calc(20rem - 10px);
}

.overflow {
    overflow: visible;
}

@media screen and (max-width: 991px) {
    .navigacija {
        min-width: initial;
    }
}

@media screen and (max-width: 767px) {
    .overflow {
        overflow: hidden;
    }
}