<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ProjekatRWA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/rxjs']" routerLinkActive="router-link-active">RxJS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ng']" routerLinkActive="router-link-active">Angular</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li *ngIf="isAuthenticated$ | async" class="nav-item dropdown">
                    <button *ngIf="user$ | async as user" id="dropdownMenuClickable" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuClickable">
                        <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" (click)="logout()">Odjavi se</a></li>
                    </ul>
                </li>
                <div class="d-grid d-sm-flex" *ngIf="!(isAuthenticated$ | async)">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Prijavi se</a>
                    </li>
                    <button class="btn btn-secondary" type="button" [routerLink]="['/register']">Registruj se</button>
                </div>
            </ul>
        </div>
    </div>
</nav>