@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.navbar {
    box-shadow: 0 0 0.75rem 0 black;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: $green-500;
}

.navbar-nav > li > .dropdown-menu a:hover { 
    background-color: mix(black, $green-500, 25%);
    cursor: pointer;
}

.bottom-right {
    top: calc(100% - 0.125rem);
    left: calc(100% - 0.125rem);
}