<div *ngIf="komponenta$ | async as komponenta">
    <h4 class="m-0">Tip komponente: {{komponenta.tipKomponente}}</h4>
    <div [ngSwitch]="komponenta.tipKomponente">
        <div *ngSwitchCase="'CPU'">
            <app-cpu [komponenta]="komponenta"></app-cpu>
        </div>
        <div *ngSwitchCase="'GPU'">
            <app-gpu [komponenta]="komponenta"></app-gpu>
        </div>
        <div *ngSwitchCase="'RAM'">
            <app-ram [komponenta]="komponenta"></app-ram>
        </div>
    </div>
</div>