<div class="container my-3" *ngIf="user$ | async as user">
    <h1>Profil</h1>
    <div class="row row-gap-3">
        <div class="col-12 col-md-4 col-lg-3 profile-menu">
            <div class="sticky-top btn-group-vertical w-100" role="group">
                <input type="radio" class="btn-check" (click)="onChangeProfileOption(1)" name="radioProfile" id="radioProfileInfo" checked>
                <label class="btn btn-lg btn-outline-primary rounded-0" for="radioProfileInfo"><i class="bi bi-person me-2"></i>Pregled profila</label>
                <input type="radio" class="btn-check" (click)="onChangeProfileOption(2)" name="radioProfile" id="radioProfileReviews">
                <label class="btn btn-lg btn-outline-primary rounded-0" for="radioProfileReviews"><i class="bi bi-star me-2"></i>Vaše recenzije</label>
                <input type="radio" class="btn-check" (click)="onChangeProfileOption(3)" name="radioProfile" id="radioProfileEdit">
                <label class="btn btn-lg btn-outline-primary rounded-0" for="radioProfileEdit"><i class="bi bi-pencil me-2"></i>Izmeni profil</label>
            </div>
        </div>
        <div class="col-12 d-md-none">
            <hr class="m-0">
        </div>
        <div *ngIf="displayMode === 1" class="col col-12 col-md-8 col-lg-9">
            <h2>Pregled profila</h2>
            <div class="table-responsive">
                <div class="profile-info container border">
                    <div class="head row bg-secondary text-white">
                        <div class="col col-12">
                            <h5>Osnovni podaci</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Korisničko ime</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.username}}<span *ngIf="user.admin"> (<span class="text-danger">ADMIN</span>)</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Ime i prezime</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.firstName}} {{user.lastName}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Email</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="displayMode === 2" class="col col-12 col-md-8 col-lg-9">
            <app-recenzije [profileMode]="true"></app-recenzije>
        </div>
        <div *ngIf="displayMode === 3" class="col col-12 col-md-8 col-lg-9">
            <div class="row">
                <form [formGroup]="editProfileForm" (ngSubmit)="changeUser(user)" class="col-12 col-lg-6">
                    <h2>Izmeni profil</h2>
                    <div class="row row-gap-2">
                        <div class="col-12 col-sm-6">
                            <label for="inputFirstName">Ime*</label>
                            <input id="inputFirstName" class="form-control border border-secondary" type="text" formControlName="firstName" maxlength="20" placeholder="Ime" (input)="onDataInput()" />
                            <small class="text-danger" *ngIf="editProfileForm.controls['firstName'].dirty && editProfileForm.hasError('required', 'firstName')">
                                *Ime je obavezno polje
                            </small>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="inputLastName">Prezime*</label>
                            <input id="inputLastName" class="form-control border border-secondary" type="text" formControlName="lastName" maxlength="20" placeholder="Prezime" (input)="onDataInput()" />
                            <small class="text-danger" *ngIf="editProfileForm.controls['lastName'].dirty && editProfileForm.hasError('required', 'lastName')">
                                *Prezime je obavezno polje
                            </small>
                        </div>
                        <div class="col-12">
                            <label for="inputEmail">E-mail adresa*</label>
                            <input id="inputEmail" class="form-control border border-secondary" type="text" formControlName="email" maxlength="50" placeholder="text@example.com" (input)="onDataInput()" />
                            <small class="text-danger" *ngIf="editProfileForm.controls['email'].dirty && editProfileForm.hasError('required', 'email')">
                                *E-mail je obavezno polje
                            </small>
                            <small class="text-danger" *ngIf="editProfileForm.controls['email'].dirty && editProfileForm.hasError('email', 'email')">
                                *Format e-maila nije ispravan
                            </small>
                        </div>
                        <div class="col-12">
                            <label for="inputUsername">Korisničko ime*</label>
                            <input id="inputUsername" class="form-control border border-secondary" type="text" formControlName="username" maxlength="20" placeholder="Korisničko ime" (input)="onDataInput()" />
                            <small class="text-danger" *ngIf="editProfileForm.controls['username'].dirty && editProfileForm.hasError('required', 'username')">
                                *Korisničko ime je obavezno polje
                            </small>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="d-flex flex-column flex-sm-row gap-2 mt-2">
                                <button [disabled]="!(this.editProfileForm.valid && this.checkDataInputs(user, formData))" class="btn btn-warning mx-auto ms-md-0" type="submit"><i class="bi bi-pencil me-2"></i>Izmeni profil</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 d-lg-none">
                    <hr>
                </div>
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="col-12 col-lg-6">
                    <h2>Promeni lozinku</h2>
                    <div class="row row-gap-2">
                        <div class="col-12">
                            <label for="inputPassword">Trenutna lozinka*</label>
                            <input id="inputPassword" class="form-control border border-secondary" type="password" formControlName="password" placeholder="Trenutna lozinka" (input)="onPasswordInput()" maxlength="50" />
                            <small class="text-danger" *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required', 'password')">
                                *Trenutna lozinka je obavezno polje
                            </small>
                            <small class="text-danger" *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('minlength', 'password')">
                                *Lozinka mora imati minimum 8 karaktera
                            </small>
                        </div>
                        <div class="col-12">
                            <label for="inputNewPassword">Nova lozinka*</label>
                            <input id="inputNewPassword" class="form-control border border-secondary" type="password" formControlName="newPassword" placeholder="Nova lozinka" (input)="onPasswordInput()" maxlength="50" />
                            <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('required', 'newPassword')">
                                *Nova lozinka je obavezno polje
                            </small>
                            <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.hasError('minlength', 'newPassword')">
                                *Nova lozinka mora imati minimum 8 karaktera
                            </small>
                            <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].dirty && !checkPasswordsAreNotEqual(passwordData)">
                                *Trenutna i nova lozinka se moraju razlikovati
                            </small>
                        </div>
                        <div class="col-12">
                            <label for="inputRepeatPassword">Ponovi lozinku*</label>
                            <input id="inputRepeatPassword" class="form-control border border-secondary" type="password" formControlName="repeatPassword" placeholder="Ponovi lozinku" (input)="onPasswordInput()" maxlength="50" />
                            <small class="text-danger" *ngIf="changePasswordForm.controls['repeatPassword'].dirty && changePasswordForm.hasError('required', 'repeatPassword')">
                                *Ponovi lozinku je obavezno polje
                            </small>
                            <small class="text-danger" *ngIf="changePasswordForm.controls['repeatPassword'].dirty && changePasswordForm.hasError('minlength', 'repeatPassword')">
                                *Ponovljena lozinka mora imati minimum 8 karaktera
                            </small>
                            <small class="text-danger" *ngIf="changePasswordForm.controls['repeatPassword'].dirty && (!this.checkPasswordsMatch(passwordData) && passwordData.newPassword !== '' && passwordData.repeatPassword !== '')">
                                *Lozinke se ne podudaraju
                            </small>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column flex-sm-row gap-2 my-2">
                                <button [disabled]="!(this.changePasswordForm.valid && this.checkPasswordInputs(passwordData))" class="btn btn-warning mx-auto ms-md-0" type="submit"><i class="bi bi-pencil me-2"></i>Promeni lozinku</button>
                            </div>
                            <p class="text-warning m-0"><b>NAPOMENA: Nakon promene lozinke ćete biti odjavljeni</b></p>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12">
                    <h5 class="m-0">Brisanje naloga</h5>
                    <button type="button" class="btn btn-danger my-2" data-bs-toggle="modal" data-bs-target="#confirmModalDialog"><i class="bi bi-trash me-2"></i>Obriši nalog</button>
                    <p class="text-danger m-0"><b>UPOZORENJE: Brisanje naloga je trajno i ova radnja se ne može opozvati!</b></p>
                </div>
            </div>
        </div>
    </div>

    <app-confirm-dialog [modalID]="'confirmModalDialog'" [delete]="'User'"></app-confirm-dialog>
</div>