<div class="container my-3" *ngIf="user$ | async as user">
    <h1>Profil</h1>
    <div class="row row-gap-3">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="btn-group-vertical w-100" role="group">
                <input type="radio" class="btn-check" (click)="onChangeProfileOption(false)" name="radioProfile" id="radioProfileInfo" checked>
                <label class="btn btn-lg btn-outline-primary" for="radioProfileInfo"><i class="bi bi-person-fill me-2"></i>Pregled profila</label>
                <input type="radio" class="btn-check" (click)="onChangeProfileOption(true)" name="radioProfile" id="radioProfileEdit">
                <label class="btn btn-lg btn-outline-primary" for="radioProfileEdit"><i class="bi bi-pencil me-2"></i>Izmeni profil</label>
            </div>
        </div>
        <div class="col-12 d-md-none">
            <hr class="m-0">
        </div>
        <div *ngIf="!editProfileMode" class="col">
            <div class="table-responsive">
                <div class="profile-info container border border-primary">
                    <div class="head row bg-secondary text-white">
                        <div class="col col-12">
                            <h5>Osnovni podaci</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Korisničko ime</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.username}}<span *ngIf="user.admin"> (<span class="text-danger">ADMIN</span>)</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Ime i prezime</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.firstName}} {{user.lastName}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-auto col-sm-4">
                            <h5>Email</h5>
                        </div>
                        <div class="col col-auto">
                            <h5>{{user.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form *ngIf="editProfileMode" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" class="col">
            <h2 class="text-center text-md-start">Izmeni profil</h2>
            <div class="row row-gap-2">
                <div class="col-12 col-sm-6">
                    <label for="inputFirstName">Ime*</label>
                    <input id="inputFirstName" class="form-control border border-secondary" type="text" formControlName="firstName" placeholder="Ime" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['firstName'].dirty && editProfileForm.hasError('required', 'firstName')">
                        *Ime je obavezno polje
                    </small>
                </div>
                <div class="col-12 col-sm-6">
                    <label for="inputLastName">Prezime*</label>
                    <input id="inputLastName" class="form-control border border-secondary" type="text" formControlName="lastName" placeholder="Prezime" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['lastName'].dirty && editProfileForm.hasError('required', 'lastName')">
                        *Prezime je obavezno polje
                    </small>
                </div>
                <div class="col-12">
                    <label for="inputEmail">E-mail adresa*</label>
                    <input id="inputEmail" class="form-control border border-secondary" type="text" formControlName="email" placeholder="text@example.com" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['email'].dirty && editProfileForm.hasError('required', 'email')">
                        *E-mail je obavezno polje
                    </small>
                    <small class="text-danger" *ngIf="editProfileForm.controls['email'].dirty && editProfileForm.hasError('email', 'email')">
                        *Format e-maila nije ispravan
                    </small>
                </div>
                <div class="col-12">
                    <label for="inputUsername">Korisničko ime*</label>
                    <input id="inputUsername" class="form-control border border-secondary" type="text" formControlName="username" placeholder="Korisničko ime" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['username'].dirty && editProfileForm.hasError('required', 'username')">
                        *Korisničko ime je obavezno polje
                    </small>
                </div>
                <div class="col-12">
                    <label for="inputNewPassword">Nova lozinka</label>
                    <input id="inputNewPassword" class="form-control border border-secondary" type="password" formControlName="newPassword" placeholder="Nova lozinka" (input)="onInput()" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['newPassword'].dirty && editProfileForm.hasError('required', 'newPassword')">
                        *Nova lozinka je obavezno polje
                    </small>
                    <small class="text-danger" *ngIf="editProfileForm.controls['newPassword'].dirty && editProfileForm.hasError('minlength', 'newPassword')">
                        *Nova lozinka mora imati minimum 8 karaktera
                    </small>
                </div>
                <div class="col-12">
                    <label for="inputRepeatPassword">Ponovi lozinku</label>
                    <input id="inputRepeatPassword" class="form-control border border-secondary" type="password" formControlName="repeatPassword" placeholder="Ponovi lozinku" (input)="onInput()" />
                    <small class="text-danger" *ngIf="editProfileForm.controls['repeatPassword'].dirty && editProfileForm.hasError('required', 'repeatPassword')">
                        *Ponovi lozinku je obavezno polje
                    </small>
                    <small class="text-danger" *ngIf="editProfileForm.controls['repeatPassword'].dirty && editProfileForm.hasError('minlength', 'repeatPassword')">
                        *Ponovljena lozinka mora imati minimum 8 karaktera
                    </small>
                    <small class="text-danger" *ngIf="editProfileForm.controls['repeatPassword'].dirty && !this.checkPasswordInputs(formData)">
                        *Lozinke se ne podudaraju
                    </small>
                </div>
                <div class="col-12 col-md-auto">
                    <button [disabled]="!(this.editProfileForm.valid && this.checkPasswordInputs(formData))" class="btn btn-primary w-100 my-2" type="submit">Izmeni profil</button>
                </div>
                <div class="col-12">
                    <hr class="mt-0 mb-3">
                    <div class="row">
                        <h5>Brisanje naloga</h5>
                        <div class="col-12 col-md-auto">
                            <a type="button" class="btn btn-danger w-100"><i class="bi bi-trash me-2"></i>Obriši nalog</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>