:host {
  display: block;
}

.profile-info {
  min-width: 384px;
}

.profile-info .row {
  transition: 0.1s;
}

.profile-info .row:hover {
  background-color: #DDDDDD;
}

.profile-info .row:nth-child(even) {
  background-color: #EEEEEE;
  transition: 0.1s;
}

.profile-info .row:nth-child(even):hover {
  background-color: #DDDDDD;
}

.profile-info .col {
  padding: 0.75rem;
  align-content: center;
}

.profile-info .col h5 {
  margin: 0;
}

.profile-info .head h5 {
  font-weight: bolder;
}

.profile-info .col:first-child h5 {
  font-weight: bolder;
}

small {
  display: block;
}

.sticky-top {
  top: calc(56px + 1rem);
  max-height: calc(100vh - 56px - 2rem);
}

.profile-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.2375);
}

@media screen and (max-width: 767px) {
  .profile-menu {
    border-right: 0;
  }
}