@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary:       mix(black, $green-500, 25%);
$secondary:     $green-500;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import 'bootstrap/scss/bootstrap';

body {
    margin: 0;
    color: #111111;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}