<div class="d-flex flex-column flex-sm-row row-gap-2 justify-content-between align-items-sm-center mb-2">
    <h2 class="m-0">{{profileMode ? 'Vaše recenzije' : 'Recenzije'}}</h2>
    <button [disabled]="unetaRecenzija$ | async" *ngIf="(user$ | async) && !profileMode" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recenzijaModalDialog"><i class="bi bi-plus-lg me-2"></i>Dodaj recenziju</button>
</div>
<app-loading *ngIf="loading$ | async"></app-loading>
<div *ngIf="!(loading$ | async) && (selectedRecenzije$ | async) as recenzije" class="row row-gap-2">
    <div *ngIf="recenzije.length > 1" class="col-12">
        <div class="row row-gap-1">
            <div class="col-12 col-sm-6 col-md-auto col-xl-3 d-flex flex-row align-items-center column-gap-1">
                <label for="inputRecenzijaSort">Sortiraj:</label>
                <select (change)="onChangeSort()" #inputRecenzijaSort id="inputRecenzijaSort" class="form-select form-select-sm border-secondary" aria-label="Sortiraj po...">
                    <option value="" selected>Sortiraj po...</option>
                    <option value="ocena">Ocena</option>
                    <option value="datum">Datum kreiranja</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-auto col-xl-3 d-flex flex-row align-items-center column-gap-1">
                <label for="inputRecenzijaRedosledSortiranja">Redosled:</label>
                <select (change)="onChangeRedosled()" #inputRecenzijaRedosledSortiranja id="inputRecenzijaRedosledSortiranja" class="form-select form-select-sm border-secondary">
                    <option value="1" selected>Rastući</option>
                    <option value="-1">Opadajući</option>
                </select>
            </div>
        </div>
    </div>
    <div class="p-0 col-12" *ngFor="let recenzija of recenzije">
        <app-recenzija-item [recenzija]="recenzija" [profileMode]="profileMode"></app-recenzija-item>
    </div>
    <p *ngIf="recenzije.length === 0" class="m-0"><i>Nema unetih recenzija</i></p>
</div>
<p class="m-0 text-danger" *ngIf="!(loading$ | async) && !(selectedRecenzije$ | async) && (error$ | async) as error"><i>{{error}}</i></p>

<app-recenzija-dialog *ngIf="(user$ | async) && !profileMode" [modalID]="'recenzijaModalDialog'"></app-recenzija-dialog>
<app-recenzija-dialog *ngIf="(user$ | async) && !profileMode" [modalID]="'recenzijaModalDialogEdit'" [mode]="1"></app-recenzija-dialog>
<app-confirm-dialog *ngIf="(user$ | async) && !profileMode" [modalID]="'confirmModalDialogRecenzija'" [delete]="'Recenzija'"></app-confirm-dialog>