:host {
    display: block;
}

.row {
    margin: 0 0.75rem;
    cursor: pointer;
    transition: 0.1s;
}

.row:hover {
    background-color: #F0F0F0;
    box-shadow: 0 0 0.25rem 0.125rem #5F5F5F;
}

img {
    aspect-ratio: 1.333;
    object-fit: cover;
}
