:host {
  display: block;
}

.row {
  margin: 0 0.75rem;
  transition: 0.1s;
}

.row:hover {
  background-color: #DDDDDD;
}

.stars {
  width: 128px;
  height: 1.5rem;
  align-items: center
}

.star {
  font-size: 1.5rem;
  transition: 0.1s;
}

.bi-star-fill {
  color: #ffc107;
}

.profile-mode {
  cursor: pointer;
}