<div class="row">
    <div class="col col-5">
        <h5>Tip slušalica</h5>
    </div>
    <div class="col">
        <h5>{{slusalice.tipSlusalica}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Povezivanje</h5>
    </div>
    <div class="col">
        <h5>{{slusalice.povezivanje}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Frekventni opseg</h5>
    </div>
    <div class="col">
        <h5>{{slusalice.frekvencijaMin}} Hz - {{slusalice.frekvencijaMax}} Hz</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Mikrofon</h5>
    </div>
    <div class="col">
        <h5>{{slusalice.mikrofon ? "DA" : "NE"}}</h5>
    </div>
</div>