<div class="row">
    <div class="col col-5">
        <h5>Tip panela</h5>
    </div>
    <div class="col">
        <h5>{{monitor.tipPanela}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Rezolucija</h5>
    </div>
    <div class="col">
        <h5>{{monitor.rezolucijaSirina}} x {{monitor.rezolucijaVisina}} &#64; {{monitor.refreshRate}} Hz</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Dijagonala ekrana</h5>
    </div>
    <div class="col">
        <h5>{{monitor.dijagonala}}"</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj HDMI konektora</h5>
    </div>
    <div class="col">
        <h5>{{monitor.brojHDMIKonektora ?? 0}}</h5>
    </div>
</div>
<div class="row">
    <div class="col col-5">
        <h5>Broj DisplayPort konektora</h5>
    </div>
    <div class="col">
        <h5>{{monitor.brojDisplayPortKonektora ?? 0}}</h5>
    </div>
</div>