:host {
    display: block;
}

.info-list, .info-list .col {
    padding: 0;
}

:host > .row:nth-of-type(1) {
    margin: 0 0.75rem;
    cursor: pointer;
    transition: 0.1s;
}

:host > .row:nth-of-type(1):hover {
    background-color: #F0F0F0;
    box-shadow: 0 0 0.25rem 0.125rem #5F5F5F;
}

img {
    aspect-ratio: 1.333;
    object-fit: cover;
}

.image {
    min-width: 96px;
}

@media screen and (max-width: 480px) {
    .info-list h5 {
        font-size: 1rem;
    }

    .image {
        min-width: 72px;
    }
}

@media screen and (max-width: 240px) {
    .info-grid h5 {
        font-size: 1rem;
    }
}
