:host {
  display: block;
}

.row {
  margin: 0 0.75rem;
  cursor: pointer;
  transition: 0.1s;
}

.row:hover {
  background-color: #DDDDDD;
}

img {
  aspect-ratio: 1.333;
  object-fit: cover;
}

.stars {
    width: 120px;
    height: 1.5rem;
    align-items: center;
}

.star {
    font-size: 1.5rem;
}

.bi-star-half {
    background: linear-gradient(to right, #ffc107 50%, black 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bi-star-fill {
    color: #ffc107;
}
