<div class="row row-gap-2 border border-primary rounded-3 overflow-hidden" [routerLink]="['/ng/prodavnica', prodavnica.id]">
    <div class="col-12 p-0">
        <img *ngIf="prodavnica.slika" class="w-100" [src]="'http://localhost:3000/' + prodavnica.slika" alt={{prodavnica.slika}} />
        <img *ngIf="!prodavnica.slika" class="w-100 border-bottom" src="images/image-default.png" />
    </div>
    <div class="col-12 px-2 pb-2">
        <h3 class="m-0">{{prodavnica.naziv}}</h3>
        <h6 class="m-0">{{prodavnica.adresa}}</h6>
        <div class="row m-0 column-gap-2">
            <div class="col-auto p-0 d-flex align-content-center stars">
                <i class="text-center star bi" *ngFor="let star of rating; let index = index" [ngClass]="{ 
                    'bi-star': prosek < index || starEmpty(index), 
                    'bi-star-half': starHalf(index),
                    'bi-star-fill': prosek - 1 >= index, 
                }"></i>
            </div>
            <div class="col-auto p-0 align-content-center flex-fill">{{prosek.toFixed(2)}} ({{brojRecenzija}})</div>
        </div>
    </div>
</div>