<div *ngIf="loading$ | async" class="container my-3">
    <app-loading></app-loading>
</div>

<div *ngIf="!(loading$ | async) && !(error$ | async) && (prodavnica$ | async) as prodavnica">
    <header class="masthead" [ngStyle]="backgroundStyle">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center shadow-1-strong text-white">
                    <h1>{{prodavnica.naziv}}</h1>
                    <h3>{{prodavnica.adresa}}</h3>
                    <!-- <app-search></app-search> -->
                </div>
            </div>
        </div>
    </header>

    <div class="container my-3">
        <div *ngIf="isAdmin$ | async" class="mb-3">
            <div class="d-flex flex-column flex-sm-row gap-2">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prodavnicaModalDialog"><i class="bi bi-pencil me-2"></i>Izmeni prodavnicu</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialogProdavnica"><i class="bi bi-trash me-2"></i>Obriši prodavnicu</button>
            </div>
            <hr>
        </div>

        <div class="row row-gap-3">
            <div class="col-12">
                <h3>Opis prodavnice</h3>
                <p class="m-0" *ngIf="!prodavnica.opis"><i>Nema unetog opisa</i></p>
                <p class="m-0" *ngIf="prodavnica.opis">{{prodavnica.opis}}</p>
            </div>
            <div class="col-12">
                <h5 class="mb-0">Prosečna ocena: {{prosek.toFixed(2)}}</h5>
                <h5>Broj recenzija: {{brojRecenzija}}</h5>
                <app-stars [ocena]="prosek"></app-stars>
            </div>
        </div>

        <hr>
        
        <div *ngIf="loadingProizvodi$ | async">
            <h2>Proizvodi</h2>
            <app-loading></app-loading>
        </div>

        <div *ngIf="!(loadingProizvodi$ | async) && (brojProizvoda$ | async) as brojProizvoda">
            <div *ngIf="isAdmin$ | async" class="mb-3">
                <div class="d-flex flex-column flex-sm-row gap-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proizvodModalDialog"><i class="bi bi-plus-lg me-2"></i>Dodaj proizvod</button>
                    <button [disabled]="brojProizvoda === 0" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialogProizvod"><i class="bi bi-trash me-2"></i>Obriši sve proizvode</button>
                </div>
                <hr>
            </div>

            <input (input)="onChangeInput()" #inputSearchProizvodi id="inputSearchProizvodi" class="form-control form-control-lg border-secondary" placeholder="Pretraži proizvode..." />
            <hr>
            <div class="row row-gap-3">
                <app-filter *ngIf="brojProizvoda > 1" class="filter-menu col-12 col-md-3 col-xl-2 px-0" 
                    [sakrijIzborPrikaza]="true" 
                    [prikaziProdavnice]="false" 
                    [brojProizvoda]="brojProizvoda" 
                    [cenaRange]="cenaRange" 
                    (selectedCenaRangeOutput)="getSelectedCenaRange($event)" 
                    (selectedTipoviProizvodaOutput)="getSelectedTipoviProizvoda($event)" 
                    (selectedTypesOutput)="getSelectedTypes($event)" 
                    (selectedProizvodjaciOutput)="getSelectedProizvodjaci($event)"
                ></app-filter>
                <div class="col">
                    <app-proizvodi 
                        [search]="search" 
                        [selectedCenaRange]="selectedCenaRange" 
                        [selectedTipoviProizvoda]="selectedTipoviProizvoda" 
                        [selectedTypes]="selectedTypes" 
                        [selectedProizvodjaci]="selectedProizvodjaci" 
                        (cenaRange)="getCenaRange($event)"
                    ></app-proizvodi>
                </div>
            </div>
        </div>

        <hr>

        <app-recenzije (prosecnaOcena)="getProsek($event)" (brojRecenzija)="getBrojRecenzija($event)"></app-recenzije>
    </div>

    <app-prodavnica-dialog *ngIf="isAdmin$ | async" [modalID]="'prodavnicaModalDialog'" [mode]="1"></app-prodavnica-dialog>
    <app-confirm-dialog *ngIf="isAdmin$ | async" [modalID]="'confirmModalDialogProdavnica'" [delete]="'Prodavnica'"></app-confirm-dialog>

    <app-proizvod-dialog *ngIf="isAdmin$ | async" [modalID]="'proizvodModalDialog'"></app-proizvod-dialog>
    <app-confirm-dialog *ngIf="isAdmin$ | async" [modalID]="'confirmModalDialogProizvod'" [delete]="'Proizvodi'"></app-confirm-dialog>
</div>

<app-not-found *ngIf="!(loading$ | async) && (error$ | async)"></app-not-found>
