<img class="mb-2" src={{rk.slika}} alt={{rk.slika}}/>
<h3 class="m-0">{{rk.proizvodjac}} {{rk.naziv}}</h3>
<div [ngSwitch]="rk.tip">
    <div *ngSwitchCase="1">
        <app-cpu [cpu]="isCPU(rk)"></app-cpu>
    </div>
    <div *ngSwitchCase="2">
        <app-gpu [gpu]="isGPU(rk)"></app-gpu>
    </div>
    <div *ngSwitchCase="3">
        <app-maticna-ploca [maticnaPloca]="isMaticnaPloca(rk)"></app-maticna-ploca>
    </div>
    <div *ngSwitchCase="4">
        <app-ram [ram]="isRAM(rk)"></app-ram>
    </div>
    <div *ngSwitchCase="5">
        <app-napajanje [napajanje]="isNapajanje(rk)"></app-napajanje>
    </div>
    <div *ngSwitchDefault>
        <p class="m-0" Tip nije prepoznat!></p>
    </div>
</div>