<div class="modal fade" [id]="modalID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="proizvodModalDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [ngClass]="{ 'modal-lg': tipProizvoda === 'RacunarskaKomponenta' }">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-content border-secondary border-3 rounded-3">
            <div class="modal-header">
                <h5 class="modal-title" id="proizvodModalDialogLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
            </div>
                
            <div class="modal-body row">
                <div class="col-12" [ngClass]="{ 'col-md-6': tipProizvoda === 'RacunarskaKomponenta' }">
                    <div class="mb-2">
                        <label for="inputTip">Tip proizvoda*</label>
                        <select (change)="onChangeTip($event)" id="inputTip" class="form-select border-secondary" formControlName="tipProizvoda" aria-label="Izaberite tip proizvoda...">
                            <option value="" selected>Izaberite tip proizvoda...</option>
                            <option value="Racunar">Računar</option>
                            <option value="RacunarskaKomponenta">Računarska komponenta</option>
                        </select>
                        <small class="text-danger" *ngIf="form.controls['tipProizvoda'].dirty && form.hasError('required', 'tipProizvoda')">
                            *Tip je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputProizvodjac">Proizvođač*</label>
                        <input id="inputProizvodjac" class="form-control border-secondary" type="text" formControlName="proizvodjac" placeholder="Proizvođač" maxlength="50"/>
                        <small class="text-danger" *ngIf="form.controls['proizvodjac'].dirty && form.hasError('required', 'proizvodjac')">
                            *Proizvođač je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputNaziv">Naziv proizvoda*</label>
                        <input id="inputNaziv" class="form-control border-secondary" type="text" formControlName="naziv" placeholder="Naziv proizvoda" maxlength="100"/>
                        <small class="text-danger" *ngIf="form.controls['naziv'].dirty && form.hasError('required', 'naziv')">
                            *Naziv proizvoda je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputCena">Cena (u RSD)*</label>
                        <input id="inputCena" class="form-control border-secondary" type="number" formControlName="cena" min="0" max="999999999" placeholder="Cena (u RSD)" />
                        <small class="text-danger" *ngIf="form.controls['cena'].dirty && form.hasError('required', 'cena')">
                            *Cena je obavezno polje
                        </small>
                    </div>

                    <div class="mb-2">
                        <label for="inputOpis">Opis</label>
                        <textarea id="inputOpis" class="form-control border-secondary" rows="3" maxlength="1000" formControlName="opis" placeholder="Opis"></textarea>
                    </div>

                    <div class="mb-md-0 mb-0" [ngClass]="{ 'mb-2': tipProizvoda === 'RacunarskaKomponenta' }">
                        <label for="inputSlika">Slika</label>
                        <input (change)="onFileSelected($event)" id="inputSlika" class="form-control border-secondary" type="file" accept="image/png, image/jpeg" formControlName="slika" #fileUpload />
                        <div class="file-upload d-flex align-items-center overflow-hidden border border-secondary rounded-2 position-relative">
                            <a type="button" (click)="fileUpload.click()" class="btn btn-primary rounded-0 border-top-0 border-bottom-0 border-start-0"><i class="bi bi-image me-2"></i>Izaberite sliku</a>
                            <span class="flex-fill">{{(filename !== "" && filename !== "images/prodavnice/") ? filename : "Slika nije učitana"}}</span>
                            <a type="button" [hidden]="!filename" (click)="removeFile()" class="btn btn-danger rounded-0 py-5 position-absolute end-0"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>

                <div *ngIf="tipProizvoda === 'RacunarskaKomponenta'" class="col-12 col-md-6" formGroupName="formInputData">
                    <div class="mb-0" [ngClass]="{ 'mb-2': type !== '' }">
                        <label for="inputType">Tip računarske komponente*</label>
                        <select (change)="onChangeTipKomponente($event)" id="inputType" class="form-select border-secondary" formControlName="type" aria-label="Izaberite tip računarske komponente...">
                            <option value="" selected>Izaberite tip računarske komponente...</option>
                            <option value="CPU">Procesor</option>
                            <option value="GPU">Grafička karta</option>
                            <option value="RAM">RAM memorija</option>
                            <option value="MaticnaPloca">Matična ploča</option>
                            <option value="Skladiste">Skladišna memorija</option>
                            <option value="Napajanje">Napajanje</option>
                            <option value="Kuciste">Kućište</option>
                        </select>
                        <small class="text-danger" *ngIf="formInputData.controls['type'].dirty && formInputData.hasError('required', 'type')">
                            *Tip računarske komponente je obavezno polje
                        </small>
                    </div>

                    <app-cpu-form *ngIf="type === 'CPU'" [formGroup]="formInputData"></app-cpu-form>
                    <app-gpu-form *ngIf="type === 'GPU'" [formGroup]="formInputData"></app-gpu-form>
                    <app-ram-form *ngIf="type === 'RAM'" [formGroup]="formInputData"></app-ram-form>
                    <app-maticna-ploca-form *ngIf="type === 'MaticnaPloca'" [formGroup]="formInputData"></app-maticna-ploca-form>
                    <app-skladiste-form *ngIf="type === 'Skladiste'" [formGroup]="formInputData"></app-skladiste-form>
                    <app-napajanje-form *ngIf="type === 'Napajanje'" [formGroup]="formInputData"></app-napajanje-form>
                    <app-kuciste-form *ngIf="type === 'Kuciste'" [formGroup]="formInputData"></app-kuciste-form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onCancel()">Otkaži</button>
                <button type="button" class="btn btn-warning" (click)="resetForm()">Resetuj formu</button>
                <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{title === 'Izmeni proizvod' ? 'Izmeni' : 'Dodaj'}}</button>
            </div>
        </form>
    </div>
</div>