<div *ngIf="prodavnica$ | async as prodavnica">
    <header class="masthead" [ngStyle]="backgroundStyle">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center shadow-1-strong text-white">
                    <h1>{{prodavnica.naziv}}</h1>
                    <h3>{{prodavnica.adresa}}</h3>
                    <!-- <app-search></app-search> -->
                </div>
            </div>
        </div>
    </header>

    <div class="container my-3">
        <div *ngIf="isAdmin$ | async" class="mb-3">
            <div class="d-flex flex-column flex-sm-row gap-2">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prodavnicaModalDialog"><i class="bi bi-pencil me-2"></i>Izmeni prodavnicu</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialog"><i class="bi bi-trash me-2"></i>Obriši prodavnicu</button>
            </div>
            <hr>
        </div>

        <h3>Opis prodavnice</h3>
        <p class="m-0" *ngIf="!prodavnica.opis"><i>Nema unetog opisa</i></p>
        <p class="m-0" *ngIf="prodavnica.opis">{{prodavnica.opis}}</p>

        <hr>
        
        <div *ngIf="isAdmin$ | async" class="mb-3">
            <div class="d-flex flex-column flex-sm-row gap-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proizvodModalDialog"><i class="bi bi-plus-lg me-2"></i>Dodaj proizvod</button>
                <button [disabled]="brojProizvoda === 0" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModalDialog2"><i class="bi bi-trash me-2"></i>Obriši sve proizvode</button>
            </div>
            <hr>
        </div>

        <app-proizvodi (brojProizvoda)="getBrojProizvoda($event)"></app-proizvodi>
    </div>

    <app-prodavnica-dialog *ngIf="isAdmin$ | async" [modalID]="'prodavnicaModalDialog'" [mode]="1"></app-prodavnica-dialog>
    <app-confirm-dialog *ngIf="isAdmin$ | async" [modalID]="'confirmModalDialog'" [delete]="'Prodavnica'"></app-confirm-dialog>
    <app-proizvod-dialog *ngIf="isAdmin$ | async" [modalID]="'proizvodModalDialog'"></app-proizvod-dialog>
    <app-confirm-dialog *ngIf="isAdmin$ | async" [modalID]="'confirmModalDialog2'" [delete]="'Proizvodi'"></app-confirm-dialog>
</div>

<app-not-found *ngIf="!(prodavnica$ | async)"></app-not-found>