.masthead {
    height: calc(50vh - 56px);
    min-height: 240px;
}

.masthead h1 {
    font-size: calc(2.5rem + 1.5vw);
    line-height: calc(2.5rem + 1.5vw);
}

.stars {
    width: 128px;
    height: 1.5rem;
    align-items: center
}

.star {
    font-size: 1.5rem;
}

.bi-star-half {
    background: linear-gradient(to right, #ffc107 50%, black 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bi-star-fill {
    color: #ffc107;
}
