
<app-loading *ngIf="((loadingProdavnice$ | async) && prikaziProdavnice) || ((loadingProizvodi$ | async) && prikaziProizvode)"></app-loading>
<div *ngIf="!(((loadingProdavnice$ | async) && prikaziProdavnice) || ((loadingProizvodi$ | async) && prikaziProizvode)) && (data$ | async) as data">
    <div class="row row-gap-3">
        <app-filter [hidden]="!((data.brojProdavnica !== 0 || data.brojProizvoda !== 0) && !((data.brojProdavnica <= 1 && data.brojProizvoda === 0) || (data.brojProdavnica === 0 && data.brojProizvoda <= 1)))" class="filter-menu col-12 col-md-3 col-xl-2 px-0" 
            [selectMode]="selectMode" 
            [sakrijIzborPrikaza]="sakrijIzborPrikaza" 
            [prikaziProdavnice]="prikaziProdavnice" 
            [prikaziProizvode]="prikaziProizvode" 
            [brojProdavnica]="data.brojProdavnica" 
            [brojProizvoda]="data.brojProizvoda" 
            [cenaRange]="data.cenaRange" 
            (prikaziProdavniceOutput)="getPrikaziProdavnice($event)" 
            (prikaziProizvodeOutput)="getPrikaziProizvode($event)" 
            (selectedNaziviProdavnicaOutput)="getSelectedNaziviProdavnica($event)" 
            (selectedCenaRangeOutput)="getSelectedCenaRange($event)" 
            (selectedTipoviProizvodaOutput)="getSelectedTipoviProizvoda($event)" 
            (selectedTypesOutput)="getSelectedTypes($event)" 
            (selectedProizvodjaciOutput)="getSelectedProizvodjaci($event)"
        ></app-filter>
        <div class="col">
            <div *ngIf="prikaziProdavnice" [hidden]="data.brojProdavnica === 0">
                <div *ngIf="data.brojProdavnica > 1">
                    <input (input)="onChangeInputProdavnice()" #inputSearchProdavnice id="inputSearchProdavnice" class="form-control border-secondary" placeholder="Pretraži prodavnice..." />
                    <hr>
                </div>
                <app-prodavnice 
                    [prodavnicePage]="prodavnicePage" 
                    [search]="searchProdavnice" 
                    [selectedNaziviProdavnica]="selectedNaziviProdavnica"
                ></app-prodavnice>
            </div>
            <hr *ngIf="data.brojProdavnica !== 0 && data.brojProizvoda !== 0 && prikaziProdavnice && prikaziProizvode">
            <div *ngIf="prikaziProizvode" [hidden]="data.brojProizvoda === 0">
                <div *ngIf="data.brojProizvoda > 1">
                    <input (input)="onChangeInputProizvodi()" #inputSearchProizvodi id="inputSearchProizvodi" class="form-control border-secondary" placeholder="Pretraži proizvode..." />
                    <hr>
                </div>
                <app-proizvodi
                    [selectMode]="selectMode" 
                    [search]="searchProizvodi" 
                    [selectedCenaRange]="selectedCenaRange" 
                    [selectedTipoviProizvoda]="selectedTipoviProizvoda" 
                    [selectedTypes]="selectedTypes" 
                    [selectedProizvodjaci]="selectedProizvodjaci"
                ></app-proizvodi>
            </div>
        </div>
    </div>
    <p *ngIf="data.brojProdavnica === 0 && data.brojProizvoda === 0">Nije pronađen nijedan rezultat!</p>
</div>