
<app-loading *ngIf="((loadingProdavnice$ | async) && prikaziProdavnice) || ((loadingProizvodi$ | async) && prikaziProizvode)"></app-loading>
<div *ngIf="!(((loadingProdavnice$ | async) && prikaziProdavnice) || ((loadingProizvodi$ | async) && prikaziProizvode)) && (data$ | async) as data">
    <div class="row row-gap-3">
        <!-- <app-filter [hidden]="!((data.brojProdavnica !== 0 || data.brojProizvoda !== 0) && !((data.brojProdavnica <= 1 && data.brojProizvoda === 0) || (data.brojProdavnica === 0 && data.brojProizvoda <= 1)))" class="filter-menu col-12 col-md-3 col-xl-2 px-0"  -->
        <app-filter [hidden]="!(data.brojProdavnica !== 0 || data.brojProizvoda !== 0)" class="filter-menu col-12 col-md-3 col-xl-2 px-0" 
            [searchPage]="searchPage" 
            [selectMode]="selectMode" 
            [sakrijIzborPrikaza]="sakrijIzborPrikaza" 
            [prikaziProdavnice]="prikaziProdavnice" 
            [prikaziProizvode]="prikaziProizvode" 
            [brojProdavnica]="data.brojProdavnica" 
            [brojProizvoda]="data.brojProizvoda" 
            [cenaRange]="data.cenaRange" 
            (prikaziProdavniceOutput)="getPrikaziProdavnice($event)" 
            (prikaziProizvodeOutput)="getPrikaziProizvode($event)" 
            (selectedNaziviProdavnicaOutput)="getSelectedNaziviProdavnica($event)" 
            (selectedGradoviOutput)="getSelectedGradovi($event)" 
            (selectedCenaRangeOutput)="getSelectedCenaRange($event)" 
            (selectedTipoviProizvodaOutput)="getSelectedTipoviProizvoda($event)" 
            (selectedTypesOutput)="getSelectedTypes($event)" 
            (selectedProizvodjaciOutput)="getSelectedProizvodjaci($event)"
        ></app-filter>
        <div class="col">
            <app-prodavnice *ngIf="prikaziProdavnice" [hidden]="data.brojProdavnica === 0 && searchPage"
                [prodavnicePage]="prodavnicePage" 
                [selectedNaziviProdavnica]="selectedNaziviProdavnica" 
                [selectedGradovi]="selectedGradovi"
            ></app-prodavnice>
            <hr *ngIf="data.brojProdavnica !== 0 && data.brojProizvoda !== 0 && prikaziProdavnice && prikaziProizvode">
            <app-proizvodi *ngIf="prikaziProizvode" [hidden]="data.brojProizvoda === 0 && searchPage"
                [selectMode]="selectMode" 
                [editItemID]="editItemID" 
                [selectedCenaRange]="selectedCenaRange" 
                [selectedTipoviProizvoda]="selectedTipoviProizvoda" 
                [selectedTypes]="selectedTypes" 
                [selectedProizvodjaci]="selectedProizvodjaci"
            ></app-proizvodi>
        </div>
    </div>
    <p *ngIf="data.brojProdavnica === 0 && data.brojProizvoda === 0 && searchPage">Nije pronađen nijedan rezultat!</p>
</div>