:host {
  display: block;
}

.sticky-top {
  top: calc(56px + 1rem);
  max-height: calc(100vh - 112px - 2rem);
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .sticky-top {
    max-height: initial;
    overflow-y: visible;
  }
}