@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

:host {
  display: block;
}

.filter-menu {
  border-right: 1px solid #C3C3C3
}

.sticky-top {
  top: calc(56px + 1rem);
  max-height: calc(100vh - 112px - 2rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0.75rem;
}

.form-check-input:checked {
  background-color: $green-500;
  border-color: $green-500;
}

@media screen and (max-width: 767px) {
  .filter-menu {
    border-right: 0
  }

  .sticky-top {
    max-height: initial;
    overflow-y: visible;
  }
}