:host {
  display: block;
}

.wrap {
  height: calc(100vh - 144px)
}

.window {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-window {
  background-color: white;
  width: 100%;
  max-width: 500px;
}

.btn {
  width: 100%;
  max-width: 200px;
}

small {
  display: block;
}

@media screen and (max-width: 767px) {
  .wrap {
    height: auto;
  }
  
  .window {
    position: relative;
    padding: 0;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}